.game-map {
  flex: 1;

  min-height: 0;

  padding: 1.5rem;

  border-right: 1px solid #ddd;
}

.game-map h2 {
  margin-top: 0;
}

.map-placeholder {
  height: 100%;

  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px dashed #bbb;
  border-radius: 10px;

  color: #777;
}